<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smbms.mapper.ProviderMapper">
    <insert id="addProvider2">
        INSERT INTO smbms_provider VALUES (#{id},#{proCode},#{proName},#{proDesc},#{proContact},#{proPhone},#{proAddress},#{proFax},#{createdBy},#{creationDate},#{modifyBy},#{modifyDate});
    </insert>
    <delete id="delProviderById">
        delete from smbms_provider where id=#{id}
    </delete>
    <select id="getAllProviderListByPage" parameterType="map" resultType="com.smbms.pojo.Provider">
        select * from smbms_provider order by id desc

    </select>
    <select id="getAllProviderListById" resultType="com.smbms.pojo.Provider">
        select * from smbms_provider where id=#{id}
    </select>
    <select id="getProviderByProCode" resultType="com.smbms.pojo.User">
        select * from smbms_provider where proCode=#{proCode}
    </select>
    <update id="updateProvide">
        update smbms_provider
        <trim prefix="set" suffixOverrides="," suffix=" where id=#{id}">
            <if test="proCode!=null"> proCode=#{proCode},</if>
            <if test="proName!=null"> proName=#{proName},</if>
            <if test="proDesc!=null"> proDesc=#{proDesc},</if>
            <if test="proContact!=null"> proContact=#{proContact},</if>
            <if test="proPhone!=null"> proPhone=#{proPhone},</if>
            <if test="proAddress!=null"> proAddress=#{proAddress},</if>
            <if test="proAddress!=null"> createdBy=#{createdBy},</if>
            <if test="proFax!=null"> proFax=#{proFax},</if>
            <if test="creationDate!=null">creationDate=#{creationDate} </if>
        </trim>
    </update>
</mapper>
